# List
* iteration operation with loop
* apply any operation on element

In [1]:
names : list[str] = ['Abdul', 'Qadir', 'Sir Zia']

print(names)

['Abdul', 'Qadir', 'Sir Zia']

### `For loop` perform `iteration` on any `iterative datatype`

In [7]:
names : list[str] = ['Abdul', 'Qadir', 'Sir Zia',"Qasim"] # we can perform iteration using loop on iterartive datatype

for name in names[:3]:#slicing for limitation # names = ['Abdul', 'Qadir', 'Sir Zia'], and name = 'Abdul' or 'Qadir' or 'Sir Zia'
    print(name) #gives iterarion on by one iteration

# Abdul(1st iteration)
# Qadir(2nd iteration)
# Sir Zia(3rd iteration)

Abdul
Qadir
Sir Zia

Old `method` `for` above code <br>


`names : list[str] = ['Abdul', 'Qadir', 'Sir Zia']
`
<br> 
`for(i=0; i<names.length; i++){ <br> 
`
<br> `    names[i]
}`

In [3]:
# old method fro above code 
names : list[str] = ['Abdul', 'Qadir', 'Sir Zia',"M. Qasim"]

i : int = 0 # initialize counter = 0 initial 

while i < len(names): # names length = 3
    print(f"{names[i]} is a great guy")
    i += 1

Abdul is a great guy
Qadir is a great guy
Sir Zia is a great guy

In [4]:
names : list[str] = ['Abdul', 'Qadir', 'Sir Zia'] # list is an iteration datatype
for name in names:
    print(f'Welcome to dear teacher {name.title()}')

    print("PIAIC Gen AI team\n")

print("Pakistan Zindabad")

Welcome to dear teacher Abdul
PIAIC Gen AI team

Welcome to dear teacher Qadir
PIAIC Gen AI team

Welcome to dear teacher Sir Zia
PIAIC Gen AI team

Pakistan Zindabad

### `list of tuples` to create Database

In [5]:
# from typing import Tuple
data_base : list[tuple[str,str]] = [('abdul','123'),   # list of tuples
                                    ('Qadir','234'),   # tuple uses round bracket ()
                                    ('Kashif','343')
                                    ]
for row in data_base: #iteration on individual elements
    print(row)

('abdul', '123')
('Qadir', '234')
('Kashif', '343')

In [6]:
# now unziping
data_base : list[tuple[str,str]] = [('abdul','123'),   # list of tuples
                                    ('Qadir','234'),
                                    ('Kashif','343')
                                    ]
for row in data_base: # iteration on individual elements
    user,password=row # local varibles(created in oop and ends in loop)
    print(user,password)

abdul 123
Qadir 234
Kashif 343

### `Authentication system` using python user input

In [15]:
# Authentication system using python user input
data_base : list[tuple[str,str]] = [('abdul','123'),   # list of tuples
                                    ('Qadir','234'),
                                    ('Kashif','343')
                                    ]
user_input : str = input("Input user name ")
print(user_input)
pass_input : str = input("Input password ")
print(pass_input)

for row in data_base: #iteration on individual elements
    user,password = row #local varibles
    if user_input == user and pass_input == password:
        print ("Login Successful")
        break
else:#no match found after iteration
    print ("Invalid Username or Password")

abdul
123
Login Successful

In [12]:
names : list[str] = ['Abdul','qadir','Asifa']

for name in names:
    print(name)
else:
    print("No more names")

Abdul
qadir
Asifa
No more names

In [9]:
names : list[str] = ['Abdul','qadir','Asifa']

for name in names:
    print(name)
else:
    print("No more names")

Abdul
qadir
Asifa
No more names

In [16]:
names : list[str] = ['Abdul','qadir','Asifa']

for name in names:
    print(name)
    break
else:
    print("No more names")

Abdul

In [19]:
megicians = ['alice','devid','carolina']

for megician in megicians:
    print(f"{megician.title()}, that was a trick")

print(f"This megician outperformed the show {megician.title()}")

Alice, that was a trick
Devid, that was a trick
Carolina, that was a trick
This megician outperformed the show Carolina

### `Enamurate` gives the `index` with the `elements`
- Enamurate is a generative function

In [30]:
megicians = ['alice','devid','carolina']

list(enumerate(megicians)) # enamurate gives the index with the elements

[(0, 'alice'), (1, 'devid'), (2, 'carolina')]

In [31]:
#unzip
megicians = ['alice','devid','carolina']

for index, name in enumerate(megicians):
    print(index,name)

0 alice
1 devid
2 carolina

## Local variable and global variable
**Local Variables:**

**Scope:** </br>
Local variables are defined within a specific block of code, such as a function or a loop.</br>
**Visibility:** </br>
They are only accessible or visible within the block in which they are defined. Outside of that block, they are not recognized.</br>
**Lifetime:** </br>
Their lifetime is limited to the execution of the block in which they are declared. Once the block is exited, the local variable is no longer accessible.

**Global Variables:**

**Scope:**</br>
Global variables are defined outside of any specific block, usually at the top level of the program.</br>
**Visibility:**</br> 
They are accessible throughout the entire program, including within functions or blocks.</br>
**Lifetime:**</br>
They exist for the entire duration of the program's execution.

## `Numbers` with loop
`SYNTAX`
* `range(start,end,step)`

In [32]:
range(10) # it will not run as it is a `generator function` gives its start and end value

range(0, 10)

In [33]:
#to run we will perform `iteration` upon it
list(range(10)) # startin=0, ending=n-1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [34]:
list(range(2,10))# startin=2, ending=n-1 => 10-1

[2, 3, 4, 5, 6, 7, 8, 9]

In [35]:
list(range(2,21,2))# startin=2, ending=n-1 step=2=> 21-1

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [36]:
for n in range(2,21,2): #loop itself will give the iteration so no need to give the ` individually it requres `list` before range`
    print(n)

2
4
6
8
10
12
14
16
18
20

In [41]:
for n in range(1,11): # to print table of two
    print(f'{2} X {n} = {n*2}')

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [43]:
for n in range(1,11): # to print table of two
    print(f'{3} X {n} = {n*3}')

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30

In [ ]:
for n in range(1,): # to print table of two
    print(f'{2} X {n} = {n*2}')

In [38]:
megicians = ['alice','devid','carolina']

list(enumerate(megicians)) # enamurate gives the index with the elements

[(0, 'alice'), (1, 'devid'), (2, 'carolina')]

In [39]:
megicians = ['alice','devid','carolina']

for index,name in (enumerate(megicians)): # enamurate gives the index with the elements
    print(index,name)

0 alice
1 devid
2 carolina

In [22]:
squares : list = [] # initialize an empty list
for value in range(1,11):
    square =value**2 # local variable
    squares.append(square)  # appending to the global list
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## List comprehensive(shorting)

`for item in items_list:`</br>
    `loop_body`

### Comprehensive Style

`loop_body for item in items_list`</br>  body of loop in the start of the loop

In [44]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [45]:
for i in range(1,11): # compresing in next step this
    print(i**2)

1
4
9
16
25
36
49
64
81
100

### `comprehensive style`

In [46]:
[i**2 for i in range(1,11)]# comprehensive style

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [29]:
digits : list[int] = [1,2,3,4,5,6,7,8,9,0]

print(digits)
print(min(digits))
print(max(digits))
print(sum(digits))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
0
9
45

In [47]:
foods : list[str] = ['pizza','cake','karhai']
frinds_food = foods[:] #in slicing forms a deep copy

print(foods)
print(frinds_food)

frinds_food[0] = 'tikka'

print(foods)
print(frinds_food)

['pizza', 'cake', 'karhai']
['pizza', 'cake', 'karhai']
['pizza', 'cake', 'karhai']
['tikka', 'cake', 'karhai']

## Tuples
- `Imutable`(not changeable)
- we can `re-assign` but not update

In [48]:
names : tuple[str] = ("A", "B", "C") #cannot assign anything to the variable in tuple
names : tuple[str] = ("Pakistan", "B", "C") #cannot assign anything to the variable in tuple
print(names[0])
print(names[0:2])

Pakistan
('Pakistan', 'B')

In [49]:
from typing import Any
data : tuple[Any] =("a",[1,2,3],True)

print(data[1])
data[1].append(1) #changes made in object(like list) not in tupple
print(data[1])

[1, 2, 3]
[1, 2, 3, 1]