# List
* iteration operation with loo
* apply any operation on element

In [1]:
names : list[str] = ['Abdul', 'Qadir', 'Sir Zia']

print(names)

['Abdul', 'Qadir', 'Sir Zia']

In [2]:
names : list[str] = ['Abdul', 'Qadir', 'Sir Zia'] # we can perfor iteration using loop on iterartive datatype

for name in names:# names = ['Abdul', 'Qadir', 'Sir Zia'], and name = 'Abdul' or 'Qadir' or 'Sir Zia'
    print(name)

# Abdul(1st iteration)
# Qadir(2nd iteration)
# Sir Zia(3rd iteration)

Abdul
Qadir
Sir Zia

old method fro above code <br>


`names : list[str] = ['Abdul', 'Qadir', 'Sir Zia']
`
<br> 
`for(i=0; i<names.length; i++){ <br> 
`
<br> `    names[i]
}`

In [3]:
# old method fro above code 
names : list[str] = ['Abdul', 'Qadir', 'Sir Zia']

i : int = 0 # initialize counter = 0

while i < len(names): # names length = 3
    print(f"{names[i]} is a great guy")
    i += 1

Abdul is a great guy
Qadir is a great guy
Sir Zia is a great guy

In [4]:
names : list[str] = ['Abdul', 'Qadir', 'Sir Zia']
for name in names:
    print(f'Welcome to dear teacher {name.title()}')

    print("PIAIC Gen AI team\n")

print("Pakistan Zindabad")

Welcome to dear teacher Abdul
PIAIC Gen AI team

Welcome to dear teacher Qadir
PIAIC Gen AI team

Welcome to dear teacher Sir Zia
PIAIC Gen AI team

Pakistan Zindabad

In [5]:
# from typing import Tuple
data_base : list[tuple[str,str]] = [('abdul','123'),   # list of tuples
                                    ('Qadir','234'),
                                    ('Kashif','343')
                                    ]
for row in data_base: #iteration on individual elements
    print(row)

('abdul', '123')
('Qadir', '234')
('Kashif', '343')

In [6]:
# now unziping
data_base : list[tuple[str,str]] = [('abdul','123'),   # list of tuples
                                    ('Qadir','234'),
                                    ('Kashif','343')
                                    ]
for row in data_base: #iteration on individual elements
    user,password=row #local varibles
    print(user,password)

abdul 123
Qadir 234
Kashif 343

In [7]:
# Authentication system suing python
data_base : list[tuple[str,str]] = [('abdul','123'),   # list of tuples
                                    ('Qadir','234'),
                                    ('Kashif','343')
                                    ]
user_input : str = input("Input user name ")
print(user_input)
pass_input : str = input("Input password ")
print(pass_input)

for row in data_base: #iteration on individual elements
    user,password=row #local varibles
    if user_input == user and pass_input == password:
        print ("Login Successful")
        break
else:#no match found after iteration
    print ("Invalid Username or Password")

Abdul
321
Invalid Username or Password

In [8]:
names : list[str] = ['Abdul','qadir','Asifa']

for name in names:
    print(name)
else:
    print("No more names")

Abdul
qadir
Asifa
No more names

In [9]:
names : list[str] = ['Abdul','qadir','Asifa']

for name in names:
    print(name)
else:
    print("No more names")

Abdul
qadir
Asifa
No more names

In [19]:
megicians = ['alice','devid','carolina']

list(enumerate(megicians)) # enamurate gives the index with the elements

[(0, 'alice'), (1, 'devid'), (2, 'carolina')]

In [20]:
#unzip
megicians = ['alice','devid','carolina']

for index, name in enumerate(megicians):
    print(index,name)

0 alice
1 devid
2 carolina

## Local variable and global variable
**Local Variables:**

**Scope:** </br>
Local variables are defined within a specific block of code, such as a function or a loop.</br>
**Visibility:** </br>
They are only accessible or visible within the block in which they are defined. Outside of that block, they are not recognized.</br>
**Lifetime:** </br>
Their lifetime is limited to the execution of the block in which they are declared. Once the block is exited, the local variable is no longer accessible.

**Global Variables:**

**Scope:**</br>
Global variables are defined outside of any specific block, usually at the top level of the program.</br>
**Visibility:**</br> 
They are accessible throughout the entire program, including within functions or blocks.</br>
**Lifetime:**</br>
They exist for the entire duration of the program's execution.

## Numbers with loop
* `range(start,end,step)`

In [12]:
range(10) # it will not run as it is a generator function gives its start and end value

range(0, 10)

In [13]:
#to run we will perform iteration upon it
list(range(10)) # startin=0, ending=n-1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [14]:
list(range(2,10))# startin=2, ending=n-1 => 10-1

[2, 3, 4, 5, 6, 7, 8, 9]

In [15]:
list(range(2,21,2))# startin=2, ending=n-1 => 21-1

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [16]:
for n in range(2,21,2):
    print(n)

2
4
6
8
10
12
14
16
18
20

In [21]:
for n in range(1,11):
    print(f'{2} X {n} = {n*2}')

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [22]:
squares : list = []
for value in range(1,11):
    square =value**2 # local variable
    squares.append(square)  # appending to the global list
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## List comprehensive(shorting)

`for item in items_list:`</br>
    `loop_body`

### Comprehensive Style

`loop_body for item in items_list`</br>  body of loop in the start of the loop

In [23]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [24]:
for i in range(1,11):
    print(i**2)

1
4
9
16
25
36
49
64
81
100

In [25]:
[i**2 for i in range(1,11)]# comprehensive style

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [29]:
digits : list[int] = [1,2,3,4,5,6,7,8,9,0]

print(digits)
print(min(digits))
print(max(digits))
print(sum(digits))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
0
9
45

In [30]:
foods : list[str] = ['pizza','cake','karhai']
frinds_food = foods[:] #slicing forms deep copy

print(foods)
print(frinds_food)

frinds_food[0] = 'tikka'

print(foods)
print(frinds_food)

['pizza', 'cake', 'karhai']
['pizza', 'cake', 'karhai']
['pizza', 'cake', 'karhai']
['tikka', 'cake', 'karhai']

## Tuples
- Imutable(not changeable)
- we can re-assign but not update

In [32]:
names : tuple[str] = ("A", "B", "C")
print(names[0])
print(names[0:2])

A
('A', 'B')

In [35]:
from typing import Any
data : tuple[Any] =("a",[1,2,3],True)

print(data[1])
data[1].append(1) #changes made in object not in tupple
print(data[1])

[1, 2, 3]
[1, 2, 3, 1]