# <b>Loops and Inputs From Users
* while loop
* for loop
* controls
  * break
  * continue
  * pass
* input with `input function`
* input from `console`

## <b>Loops works on Itrative datatypes 
Like
* list
* dictionary
* tuple
* string

In [1]:
#                 0 1 2 3 4 5 6 7 8
l1 : list[int] = [1,2,3,4,5,6,7,8,9]
print(l1)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
#                 0 1 2 3 4 5 6 7 8
l1 : list[int] = [1,2,3,4,5,6,7,8,9]
# do iteration

for n in l1:
    print("Item no : ",n)

Item no :  1
Item no :  2
Item no :  3
Item no :  4
Item no :  5
Item no :  6
Item no :  7
Item no :  8
Item no :  9

1. <b>`Iteration Step 1: n = 1`
2. The loop begins with n set to the first value in the list [1, 2, 3, 4, 5, 6, 7, 8, 9]
3. The value of n is 1 in the first iteration<br>
print("Item no : ", 1)

1. `Iteration Step 2: n = 2`
2. The loop continues with n set to the next value in the list [1, 2, 3, 4, 5, 6, 7, 8, 9]
3. The value of n is 2 in the second iteration<br>
print("Item no : ", 2)

1. `Iteration Step 3: n = 3`
2. The loop continues with n set to the next value in the list [1, 2, 3, 4, 5, 6, 7, 8, 9]
3. The value of n is 3 in the third iteration<br>
print("Item no : ", 3)

1. `Iteration Step 4: n = 4`
2. The loop continues with n set to the next value in the list [1, 2, 3, 4, 5, 6, 7, 8, 9]
3. The value of n is 4 in the fourth iteration<br>
print("Item no : ", 4)

1. `Iteration Step 5: n = 5`
2. The loop continues with n set to the next value in the list [1, 2, 3, 4, 5, 6, 7, 8, 9]
3. The value of n is 5 in the fifth iteration<br>
print("Item no : ", 5)

1. `Iteration Step 6: n = 6`
2. The loop continues with n set to the next value in the list [1, 2, 3, 4, 5, 6, 7, 8, 9]
3. The value of n is 6 in the sixth iteration<br>
print("Item no : ", 6)

And so on....

In [6]:
for n in [1,2,3,4,5,6,7,8,9]:
    print("Item no obtaineed from iteration is : ",n)

Item no obtaineed from iteration is :  1
Item no obtaineed from iteration is :  2
Item no obtaineed from iteration is :  3
Item no obtaineed from iteration is :  4
Item no obtaineed from iteration is :  5
Item no obtaineed from iteration is :  6
Item no obtaineed from iteration is :  7
Item no obtaineed from iteration is :  8
Item no obtaineed from iteration is :  9

In [8]:
#                 0 1 2 3 4 5 6 7 8
l1 : tuple[int] = [1,2,3,4,5,6,7,8,9]
# do iteration

for n in l1:
    print("Item no in tuple : ",n)

Item no in tuple :  1
Item no in tuple :  2
Item no in tuple :  3
Item no in tuple :  4
Item no in tuple :  5
Item no in tuple :  6
Item no in tuple :  7
Item no in tuple :  8
Item no in tuple :  9

In [9]:
l1 : str = "Pakistan"
# do iteration

for n in l1:
    print("Item no in string : ",n)

Item no in string :  P
Item no in string :  a
Item no in string :  k
Item no in string :  i
Item no in string :  s
Item no in string :  t
Item no in string :  a
Item no in string :  n

In [12]:
#                 0 1 2 3 4 5 6 7 8
l1 : dict[str,str] = {
    "name":"A.Qadir","fname":"M.Zakria"
}
# do iteration

for k in l1:
    print(f"Dictionary with key `{k}` and value is `{l1[k]}`")

Dictionary with key `name` and value is `A.Qadir`
Dictionary with key `fname` and value is `M.Zakria`

## We cannot do iteration on set datatype
`To do iteration on set data type we have to typCasting`

In [16]:
l1 : list[set[int]] = list({1,2,3,4,5,6,7,8,9}) #list of sets
#typecast
# do iteration

for n in l1:
    print("Valuse from list of sets are : ",n)

Valuse from list of sets are :  1
Valuse from list of sets are :  2
Valuse from list of sets are :  3
Valuse from list of sets are :  4
Valuse from list of sets are :  5
Valuse from list of sets are :  6
Valuse from list of sets are :  7
Valuse from list of sets are :  8
Valuse from list of sets are :  9

## Input from user

* input function
  * Default tpye is `String`

* sys.argv (for console input in abc.py file )
  * default type is `Object`

In [19]:
name :str = input("Please enter your name : \t")

print(type(name))
print(f"Welecome dear use {name}!")

<class 'str'>
Welecome dear use abdul!