# Python Devides operators into following groups
1. Arithmetic Operators: +, -, *, /, % (modulo), ** (power)
2. Comparison Operators: ==, !=, >, <, >=, <=
3. Logical Operators: and, or, not
4. Bitwise Operators: &, |, ^, ~, >>, <<
5. Assignment Operators : +=, -=, *=, /=, %=, **=, //=, &=,
    |=, ^=, >>=, <<=
6. Membership Operators: in, not in
7. Identity Operators: is, is not
8. Concatenation Operator: +
9. Increment/Decrement Operators: ++, --
10. String concatenation operator: +
11. Unary Operators: +, -, ~, !, True, False
12. Ternary conditional operator: value_if_true if condition else value_if_false

In [1]:
import pandas as pd

table = pd.read_html('https://www.w3schools.com/python/python_operators.asp')
table[0]

  Operator            Name Example    Try it
0        +        Addition   x + y  Try it »
1        -     Subtraction   x - y  Try it »
2        *  Multiplication   x * y  Try it »
3        /        Division   x / y  Try it »
4        %         Modulus   x % y  Try it »
5       **  Exponentiation  x ** y  Try it »
6       //  Floor division  x // y  Try it »

In [2]:
a : int = 7
b : int = 2

print(a+b)
print(a-b)
print(a/b)
print(a*b)
print(a%3)

9
5
3.5
14
1

In [3]:
print(2**3)#power

8

In [4]:
print(14 / 3)

4.666666666666667

In [5]:
print(14 // 3) # floor division # return integer always in downsizing

4

### Assign Operators

In [6]:
table[1]

   Operator  Example     Same As    Try it
0         =    x = 5       x = 5  Try it »
1        +=   x += 3   x = x + 3  Try it »
2        -=   x -= 3   x = x - 3  Try it »
3        *=   x *= 3   x = x * 3  Try it »
4        /=   x /= 3   x = x / 3  Try it »
5        %=   x %= 3   x = x % 3  Try it »
6       //=  x //= 3  x = x // 3  Try it »
7       **=  x **= 3  x = x ** 3  Try it »
8        &=   x &= 3   x = x & 3  Try it »
9        |=   x |= 3   x = x | 3  Try it »
10       ^=   x ^= 3   x = x ^ 3  Try it »
11      >>=  x >>= 3  x = x >> 3  Try it »
12      <<=  x <<= 3  x = x << 3  Try it »

In [7]:
# +=
a : int = 7
print(a)
b : int = 6
a = a + 2
print(a)
a += 2
print(a)

7
9
11

### Comparison Operator

In [8]:
a : int = 2
b : int = 6

print(a == b)

False

In [9]:
a : int = 2
b : int = 6

print(a != b)

True

In [10]:
a : int = 2
b : int = 6

print(a > b)

False

In [11]:
a : int = 2
b : int = 6

print(a < b)

True

In [12]:
a : int = 2
b : int = 6

print(a >= b)

False

In [13]:
a : int = 2
b : int = 6

print(a <= b)

True

In [14]:
# ASCII code can be used for the comparison of alphabets
# ascii values? A=65 to Z=90 and a=97 and z=122
a : str = 'A'
b : str = 'B'

print(a <= b)

True

In [15]:
# to check for ascii code
ord('A')

65

In [16]:
ord('B')

66

In [17]:
chr(110)

'n'

In [1]:
chr(65)

'A'

### Python logical Operator

In [18]:
table[3]

,Operator,Description,Example,Try it
0,and,Returns True if both statements are true,x < 5 and x < 10,Try it »
1,or,Returns True if one of the statements is true,x < 5 or x < 4,Try it »
2,not,"Reverse the result, returns False if the resul...",not(x < 5 and x < 10),Try it »

In [19]:
True and True and True and True # all should be true

True

In [20]:
True and True and True and False # all should be true

False

In [21]:
True or False or True or True # any condtion true give true

True

In [22]:
not True

False

In [23]:
name : str = 'abdul'
print(not name=='abdul')

False

### Python Identity operators

In [24]:
table[4]

,Operator,Description,Example,Try it
0,is,Returns True if both variables are the same ob...,x is y,Try it »
1,is not,Returns True if both variables are not the sam...,x is not y,Try it »

In [25]:
x : str = 'abc'
z : str = 'abc'

print("Memory adress : ",id(x))# check for physcial adres
print("Memory adress : ",id(z))# check for physcial adres

Memory adress :  140723116914496
Memory adress :  140723116914496

In [26]:
x is z #is the physical adress in the backend is same for both OR not
        # checks for the same object

True

In [27]:
x is not z #physical adress in not same for both
            # checks for the same object IN THE BACKEND

False

In [28]:
i : str = 'abd'
j : str = 'abc'

print("Memory adress : ",id(x))# check for physcial adres
print("Memory adress : ",id(z))# check for physcial adres

Memory adress :  140723116914496
Memory adress :  140723116914496

In [29]:
i is j #is the physical adress in the backend is same for both OR not
        # checks for the same object

False

### Python membership Operator

In [30]:
table[5]

,Operator,Description,Example,Try it
0,in,Returns True if a sequence with the specified ...,x in y,Try it »
1,not in,Returns True if a sequence with the specified ...,x not in y,Try it »

In [31]:
names : list[str] = [chr(i) for i in  range(65,91)]
names

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [32]:
names : list[str] = [chr(i) for i in  range(65,91)]
for i in range(len(names)):
    print(i, names[i])
    if names[i] == 'D':
        print('True')
        break

# above code is very complex for big list of data

0 A
1 B
2 C
3 D
True

In [33]:
#alternate using "in" operator
names : list[str] = [chr(i) for i in  range(65,91)]
"D" in names

True

In [34]:
names : list[str] = [chr(i) for i in  range(65,91)]
"Pakistan" in names

False

In [35]:
#user input
names : list[str] = ['Sir Zia','Abdul','Qadir']
uinput : str = input("Enter your name ")
uinput in names

True

In [36]:
#user input
names : list[str] = ['Sir Zia','Abdul','Qadir']
uinput : str = input("Enter your name ")
uinput not in names

False

<Img src='https://learningmonkey.in/wp-content/uploads/2021/05/Operator-Precedence-and-Associativity-in-Python.jpg'>

## **PEMDAS**
 `set of rules` used to determine the sequence in which operations are performed in a mathematical expression to ensure clarity and consistency
- **P - Parentheses:** Solve expressions inside parentheses first.
- **E - Exponents:** Evaluate expressions with exponents (powers and roots).
- **M/D - Multiplication and Division:** Perform multiplication and division from left to right.
- **A/S - Addition and Subtraction:** Perform addition and subtraction from left to right.

In [37]:
print(3 + 2 - 2 * 4 / 2 + 2)

3.0

In [38]:
unverse_age : int = 14_000_000_000
print(unverse_age)

14000000000

In [39]:
#unip from tuple
a , b, c = 'abdul' , 3 , 5 # in the form of tuple

print(a)
print(b)
print(c)

abdul
3
5

In [40]:
data = ('abdul' , 3 , 5) #tuple
print(data[0],data[1],data[2])

abdul 3 5

In [41]:
#alternate of above
data = ('abdul' , 3 , 5)
print(*data)

abdul 3 5

## Walrus operator
 It allows you to assign a value to a variable as part of an expression. The name "walrus operator" comes from the resemblance of := to the eyes and tusks of a walrus (:=).

In [42]:
a :int =10

In [48]:
if (a < (b := a+5)):
    print(b)
else:
    print('else is working')

15

In [49]:
"""
hellow world this is multl comment
"""

'\nhellow world this is multl comment\n'

## The Zen of Python

In [63]:
import this