# String DataType in python
- In Python, the `str` data type is used to represent a sequence of characters.
- `Sequence/Collection` of a character is called `string`
- In `NLP or LLMs` everything in the form of string

In [2]:
# Boundries 'string text',"string text",'''string text'''
# Backticks `` used in typescript to define multi line string 
# pep8 python naming convention for function and variable name is lowercase with words separated by underscores.

# Variable boundries are defined "string text", 'string text', '''string text''', """ArithmeticError"""

name : str = "Abdul Qadir" # variable with double quotes

print(type(name))

print(name)

<class 'str'>
Abdul Qadir

In [10]:
#conver any special character into charcter, place \ before char

message : str = 'PIAIC Student card\'s' #

message

"PIAIC Student card's"

In [14]:
messag : str = "PIAIC Student card's \nFather\'s name"
print(messag)

PIAIC Student card's
Father's name

In [16]:
# convert any special character into simple character, by simply placing "\" before character
messag : str = 'PIAIC "Student card\'s" fathers name'
messag

'PIAIC "Student card\'s" fathers name'

In [20]:
name : str = 'Abdul'

fname : str = 'Qadir'

education : str = 'MS in Data Science'

age : int = 23

card : str = 'PIIC Stnd card\nName: ' + name + " \nAge:  " + age # In concatenation its is requred to have the same data types for all
# TypeError: can only concatenate str (not "int") to str
print(card)

TypeError: can only concatenate str (not "int") to str

In [25]:
name : str = 'abdul'
fname : str = 'qadir'
education : str = 'Bachelor in cs'
age : int = 23
card : str = 'PIIC Stnd card\nName: ' + name + " \nage:  " + str(age) #convert\convert to str function to concate
#functions are always represented by "()"
print(card)

PIIC Stnd card
Name: abdul
age:  23

In [26]:
print(5 + \
      6 + \
        9) # line continure using \ BackSlash

20

In [27]:
card : str = 'PIIC Stnd card: \nName: ' + name + " \nAge:  " \
+ str(age) #backslash '\' used to continue the code from new line
print(card)

PIIC Stnd card:
Name: abdul
Age:  23

## Define multiline string """ """ , ''' '''
We can use `triple quote` opening and closing characters to define a `multiline string`.

In [28]:
card : str = """
Student Name : ....
Father Name : .....
age : ......
"""
print(card)

Student Name : ....
Father Name : .....
age : ......

In [9]:
card : str ='''
Student Name : ....
Father Name : .....
age : ......
Address : ......
City : ......
State : ......
Country : ......
Phone Number : ......
Email : ......
Date of Birth : ......
Gender : ......
Caste : ......
Religion : ......
'''
print(card)

Student Name : ....
Father Name : .....
age : ......
Address : ......
City : ......
State : ......
Country : ......
Phone Number : ......
Email : ......
Date of Birth : ......
Gender : ......
Caste : ......
Religion : ......

## <b><i>F-string is the</i></b> <u>`Most powerfull feature/tool in python`</u>
### 1. What is f-string?
It provides an `easy and readable way` to `embed` expressions inside `string literals`. The `f-string` prefix is the lowercase letter `'f'` and assign variable in `{}`.

In [32]:
name : str = 'Abdul'
fname : str = 'Qadir'
Age : int = 23

# Using f-string We donot need type casting as it automatically takes care of the data types.
# solves all the type casting issues
    
card : str = f"""
Student Name : {name}
Father Name : {fname}
Age : {Age}
total : {2+4+5+6}
""" # can be on triple code
print(card)

Student Name : Abdul
Father Name : Qadir
Age : 23
total : 17

In [11]:
# Using f-string with expression inside
print(f"2 + 3 = {2 + 3}")

2 + 3 = 5

## `F-string and Jinja Style`
- We do formating using these two styles
- `jinja` uses two curly braces
- ``Jinja`` is used in web development in `Django`

In [34]:
#jinja uses two curly braces
"""
student Name {{name}}
"""

'\nstudent Name {{name}}\n'

In [35]:
# f string
f"""
student Name {name}
"""

'\nstudent Name abdul\n'

## `Concatenation` using PLACEOLDERS

In [39]:
# concatenation using PLACEOLDERS
name : str = 'abdul'
fname : str = 'qadir'
Age : int = 23
education : str = 'Masters in computer science'
# %s for string %d for number 

Card : str = f"""
Student Name : %s
Father Name : %s
Age : %d
Education : %s
""" % (name, fname,age,education) # using  index for the above

print(Card)

Student Name : abdul
Father Name : qadir
Age : 23
Education : Masters in computer science

In [40]:
dir(str) # gives methods and attribues of this class "str"

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [41]:
#list comprehensive using for loop
[i for i in dir(str) if "__" not in i] # gives all sring methods and attributes

['capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [47]:
name : str = "AbDul QADir" # we are note following the Case of Characters
# Apply sring methods and attributes
print(name.capitalize())
print(name.islower())
print(name.upper())

Abdul qadir
False
ABDUL QADIR

In [2]:
a = 7
b = 8
# "{}" this curly braces is called place holder

#index            0              1
"pakistan value a={} and vale b={}".format(a,b)# using indexes `.format` is also a form of `f-string`

'pakistan value a=7 and vale b=8'

In [4]:
# concatenation using PLACEOLDERS
name : str = 'abdul'
fname : str = 'qadir'
age : int = 23
#using index by choices
card : str = """
Student Name : {}
Father Name : {}
Age : {}
""".format(name, fname,age) # using  index for the above. Indexing positioning matters in this scenerio
#           0     1     2

print(card)

Student Name : abdul
Father Name : qadir
Age : 23

In [49]:
# concatenation using PLACEOLDERS
name : str = 'abdul'
fname : str = 'qadir'
Age : int = 23
#using index by choices
card : str = """
Student Name : {0}
Father Name : {2}
Age : {1}
""".format(name,age, fname) # using  index for the above in the `place holders`
#           0     1     2

print(card)

Student Name : abdul
Father Name : qadir
Age : 23

In [5]:
# concatenation using PLACEOLDERS
name : str = 'abdul'
fname : str = 'qadir'
Age : int = 23
#using key value argument by choices as placeholders
card : str = """
Student Name : {a}
Father Name : {b}
Age : {c}
""".format(a=name, b=fname,c=age) # using  index as self assigned in place holders as (a,b,c)
#           0          1     2

print(card)

Student Name : abdul
Father Name : qadir
Age : 23

In [6]:
# Interpret code fro the string
student_code : str = """
print("My name is Abdul")
a : int = 7
b : int = 9
print(a+b)
"""
exec(student_code) # execute the code in the quotations

My name is Abdul
16

## Exsplore string methodes and attributes
Predefined global functions we have used
- print
- type
- id
- len
- dir

In [12]:
a : list[str] = [i for i in dir(str) if "__" not in i] 
print(a)
print(id(a))
print(type(a))
print(len(a))

['capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']
2076979558016
<class 'list'>
47

In [20]:
# some methods take arguments some not
#variable_name.method()
name : str = "         aBdul     Qadir      "  #with spacing
display(name)
display(name.capitalize())#all small
display(name.casefold())#all small
display(name.lstrip())# remove spacing from left side
display(name.rstrip())# remove spacing from right side
display(name.strip())# remove spacing from all side

'         aBdul     Qadir      '

'         abdul     qadir      '

'         abdul     qadir      '

'aBdul     Qadir      '

'         aBdul     Qadir'

'aBdul     Qadir'

### Remove all extra spaces using regex

In sub: `subtitute` consist of three things \ `patten` \ `replacement` \ `variable` name

In [22]:
import re

In [24]:
# remove all extra spaces using regex 

import re

name : str = "      Abdul      Qadir      "
display(name)

name1 : str = re.sub(' {2,100}',' ',name).strip() #in sub `subtitute` consist of three things \ patten \ replacement \ variable name
# ' {2,100}' removing one two to 100 spaces in the text
#adding strip canmake it a chaining rule
display(name1)

'      Abdul      Qadir      '

'Abdul Qadir'

### Special meaning characters
- \n, (line change)
- \b, ()
- \t  (tab:extra space)

In [29]:
print("Name : \n\n Abdul Qadir")
print("Name : \nAbdul Qadir")

Name :

 Abdul Qadir
Name :
Abdul Qadir

In [26]:
print("Name :\b Abdul Qadir")

Name  Abdul Qadir

In [28]:
print("Name : \t\t Abdul Qadir")

Name : 		 Abdul Qadir

### Remove prefix

In [32]:
google_url : str = 'https://www.google.com'
google_url.removeprefix('https://')

'www.google.com'

### Remove suffixe

In [33]:
google_url.removesuffix(".com")

'https://www.google'